In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [43]:
df = pd.read_csv("./Dataset/Steel_industry_data.csv")
df.head()

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,Weekday,Monday,Light_Load
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,Weekday,Monday,Light_Load
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,Weekday,Monday,Light_Load
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,Weekday,Monday,Light_Load
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,Weekday,Monday,Light_Load

In [5]:
df.isnull().sum()

date                                    0
Usage_kWh                               0
Lagging_Current_Reactive.Power_kVarh    0
Leading_Current_Reactive_Power_kVarh    0
CO2(tCO2)                               0
Lagging_Current_Power_Factor            0
Leading_Current_Power_Factor            0
NSM                                     0
WeekStatus                              0
Day_of_week                             0
Load_Type                               0
dtype: int64

In [30]:
df['Leading_Current_Power_Factor'].unique()

array([100.  ,  99.87,  24.11, ...,  26.21,  57.73,  31.65])

In [8]:
df['Day_of_week'].unique()

array(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday',
       'Sunday'], dtype=object)

In [10]:
df['Load_Type'].unique()

array(['Light_Load', 'Medium_Load', 'Maximum_Load'], dtype=object)

In [11]:
df['Leading_Current_Reactive_Power_kVarh'].unique()

array([ 0.  ,  0.18, 15.66, 16.96, 21.28, 19.22, 16.88, 22.32, 18.  ,
       16.92, 23.4 ,  5.65,  4.82,  6.7 ,  4.57, 12.89, 23.15, 16.67,
       16.63, 23.33, 16.74, 16.99, 18.25, 22.1 , 16.7 , 19.33, 21.35,
       16.81, 20.45, 20.77, 21.64, 19.19, 23.51, 17.39, 17.35,  8.96,
        5.47, 16.24, 22.57, 20.74, 20.88, 22.54, 19.55, 17.42, 24.26,
       17.75, 25.2 , 17.5 , 10.08,  0.07,  0.11,  0.94,  1.15,  0.54,
        0.14, 18.9 , 25.92, 25.34, 25.49,  6.52,  1.04,  0.5 ,  1.58,
        0.43,  1.37,  0.47,  3.96, 12.13, 23.22, 25.16, 26.5 , 26.42,
       26.46, 15.44,  0.04, 26.21, 25.56, 25.74,  6.08,  1.69,  1.94,
        0.79,  1.66,  1.22,  6.98, 23.83, 24.8 , 26.82, 26.78, 15.16,
       18.79, 26.39, 26.89,  1.19,  3.46,  2.12,  2.77, 24.08, 25.78,
       25.85, 14.65, 20.2 , 26.32, 25.81,  7.6 ,  3.56,  0.61,  4.43,
       17.64, 24.05, 26.68, 26.64, 26.6 , 15.19, 20.7 , 20.99, 19.73,
       17.93,  9.9 ,  7.06,  7.63,  7.42, 14.08, 24.91, 19.69, 18.14,
       20.92, 21.67, 23.  , 24.3 , 18.43, 17.6 , 24.73, 18.18, 17.71,
       17.82, 24.62,  7.96,  6.23, 18.94, 17.86, 24.19, 18.65, 24.16,
       17.68, 18.97, 24.41, 10.01, 19.3 , 17.21, 18.04, 22.93, 19.91,
       17.28,  7.24,  5.08,  6.59,  5.69, 13.21, 22.46, 17.96, 16.85,
       23.58, 22.61, 16.6 , 22.79, 23.8 , 23.72, 24.01,  6.41,  7.78,
       14.69, 17.17, 18.72, 22.86, 17.14, 18.68, 21.49, 20.02, 13.36,
       20.63, 25.7 ,  9.  ,  9.47,  0.58,  0.97, 20.3 , 26.03, 25.99,
       25.96, 19.37, 20.56,  2.59,  8.53,  9.94,  1.73, 26.71, 26.75,
       15.3 , 20.16, 25.13,  3.02,  4.46, 21.02, 26.96, 27.04, 27.  ,
       26.93, 26.53, 26.35, 15.08, 25.45, 23.69, 16.78,  3.06,  9.11,
        0.86,  2.56, 15.52, 18.61, 25.38, 24.66,  3.82,  6.3 ,  8.17,
        6.34, 25.24, 15.88, 19.84, 25.52,  6.8 , 19.98, 10.37, 23.08,
       26.86,  0.25, 17.89, 23.76, 23.18, 13.5 , 13.97, 21.82,  6.37,
        5.15,  4.14, 12.64, 13.54,  5.26,  4.32,  5.94,  8.75, 10.26,
        9.32,  2.52,  2.45,  2.41,  1.3 ,  8.71, 22.25, 10.91, 27.14,
       27.07, 27.11, 15.62, 18.47, 26.14,  6.66,  4.93,  0.32,  2.88,
       25.88, 14.47, 19.51,  1.84,  8.6 , 26.57, 14.87, 18.36, 25.27,
        3.6 ,  9.07,  2.2 ,  1.55,  2.09,  1.62,  2.81,  2.34,  1.8 ,
        2.38,  2.48,  1.44, 26.06, 25.02, 23.47,  6.84,  2.27, 20.59,
       25.42,  8.42,  9.04,  0.29,  2.05,  2.02,  2.23,  0.68,  2.16,
        3.92,  9.83,  9.4 , 10.44,  4.68,  3.31,  1.98,  5.22,  4.07,
        0.36, 20.38,  8.46,  7.49,  7.31, 25.31, 25.67, 25.6 ,  9.43,
       23.04, 21.92, 23.62, 22.07, 18.58,  5.87,  3.67,  5.83, 24.98,
       23.94,  2.84,  3.35,  1.26,  1.48,  4.03,  0.65,  1.12,  9.68,
        0.9 ,  9.79, 11.63, 10.62, 10.73,  7.99,  5.98,  4.54,  4.9 ,
        3.42,  3.49,  7.34,  9.36,  1.51,  0.22, 26.17, 25.63,  2.3 ,
        6.19, 10.87, 10.76, 10.84, 10.58, 10.48,  0.83,  4.75, 17.53,
       10.12,  8.32,  8.39,  4.28,  0.72, 12.92,  9.58, 22.28, 26.1 ,
       22.64, 17.1 , 13.82, 10.3 , 10.8 , 23.87, 23.9 , 24.12, 24.23,
        2.74,  2.7 ,  2.66,  2.63, 11.16, 22.82, 24.59, 10.33,  1.01,
       24.84, 24.95,  3.85,  4.25,  0.4 ,  1.91,  0.76, 18.4 ,  2.92,
       25.06,  2.99,  1.4 , 12.35, 14.4 ,  4.1 ,  4.5 ,  1.87, 17.32,
       21.56, 17.06, 19.04, 26.24,  6.05,  6.73, 13.03, 21.24, 17.03,
       24.44, 22.75, 17.57, 26.28,  3.13,  1.76,  4.64,  6.48, 18.83,
        3.38,  5.4 ,  1.08,  3.24, 19.01,  6.95, 20.41, 27.22, 27.18,
       10.94,  9.61,  8.89, 27.29, 25.09, 10.15, 15.05, 21.89, 19.4 ,
       15.34, 16.34,  5.51,  7.38,  6.55, 17.78, 23.36, 17.24, 19.87,
       24.37,  8.57, 21.71, 18.5 , 24.55,  3.2 , 12.42, 10.4 ,  8.68,
        7.02,  7.81,  7.56,  4.39,  5.36,  3.53,  4.21,  4.72,  3.28,
       22.18, 27.76, 27.47, 27.43, 27.61, 27.4 ,  6.12,  8.03, 24.7 ,
       22.72,  6.62,  4.86, 14.29, 20.81, 13.07,  5.54,  7.85, 18.29,
       18.11, 17.46,  6.91, 10.22, 13.  , 23.65, 22.68, 13.1 ,  6.16,
       22.97, 27.25, 15.98, 12.71, 22.39,  5.9 , 12.78, 16.45, 16.38,
       16.52, 23.44, 16.42, 16.27, 16.31,  5.8 ,  5.11, 14.44, 21.6 ,
       19.12, 20.05,  5.44,  6.77, 23.26, 20.84, 21.1 , 16.13, 16.16,
       19.66,  5.18, 13.79, 20.27, 16.56, 19.94,  9.54, 20.34, 19.26,
       22.21, 14.  ,  4.36,  5.  ,  3.1 , 18.76,  6.26,  4.18, 12.56,
       22.03, 21.78, 14.76, 15.48,  8.93, 15.59, 20.23,  8.06, 14.26,
        3.78, 13.39, 13.28,  7.52,  4.97,  5.04,  8.86, 27.54, 27.65,
       27.58, 23.11, 18.32, 10.55,  2.95,  3.89, 12.67, 12.24, 11.92,
       11.48, 11.99, 12.02, 15.8 , 13.32,  3.17,  4.61,  6.01, 14.15,
        4.  , 13.86, 27.36, 18.07, 14.33, 22.43,  5.62, 13.64, 14.58,
        3.74,  7.13,  8.14, 15.37, 12.85,  7.88, 23.98, 21.13, 11.05,
        8.35,  9.22,  8.82,  5.58,  8.5 ,  8.21,  9.25,  9.18,  6.88,
        5.76, 24.88, 13.72, 19.76, 24.48,  7.09, 23.29, 14.18, 12.2 ,
       14.98, 11.23, 12.74, 13.61,  9.97,  8.28, 13.75, 22.36, 21.2 ,
       14.22, 11.81, 14.94, 14.9 , 11.12, 12.28, 21.42, 24.77, 13.93,
       19.08,  7.67, 24.34,  4.79, 16.2 , 10.98,  1.33, 15.84,  5.29,
       11.2 , 18.86, 14.36,  9.14, 14.72, 20.09, 10.69, 14.8 , 13.68,
       21.53,  9.65, 14.83, 21.96, 22.9 ,  7.27, 15.23, 12.31, 11.41,
       10.04, 14.51, 21.06, 11.59, 11.27,  8.24, 15.7 , 19.8 ,  9.72,
        9.76, 16.06, 12.82, 16.02, 15.95,  6.44,  5.72, 24.52, 11.66,
       15.01, 12.49,  7.45, 12.1 , 15.55, 10.51,  3.64, 19.58, 15.26,
        7.7 , 21.38, 21.17,  9.5 , 13.43, 13.57, 19.62, 20.52, 22.14,
       16.49, 20.66,  9.29, 19.48, 13.46, 22.  , 13.18, 12.96,  3.71,
       12.17, 13.9 , 14.04, 11.3 , 12.53, 19.15,  7.16, 11.34, 21.46,
       21.74, 16.09, 12.06, 11.88, 11.95, 11.52, 11.45, 20.95, 15.91,
       19.44,  8.78, 18.22, 13.25, 23.54, 21.31,  7.92, 20.48, 21.85,
       11.7 , 10.19,  5.33,  8.64, 20.12, 22.5 , 12.6 , 10.66, 11.09,
        9.86,  8.1 , 11.02, 15.73, 14.62, 14.54, 13.14, 15.12, 14.11,
       15.41,  7.74, 12.46,  7.2 , 11.38, 11.56, 12.38, 11.84, 11.77,
       11.74, 18.54, 15.77])

In [13]:
df['CO2(tCO2)'].unique()

array([0.  , 0.02, 0.03, 0.05, 0.06, 0.04, 0.01, 0.07])

In [46]:
df['CO2(tCO2)'] = df['CO2(tCO2)'] * 100
df['CO2(tCO2)'].unique()

array([0., 2., 3., 5., 6., 4., 1., 7.])

In [47]:
df['CO2(tCO2)'].unique()

array([0., 2., 3., 5., 6., 4., 1., 7.])

In [48]:
day_to_number = {
    'Monday': 0,
    'Tuesday': 1,
    'Wednesday': 2,
    'Thursday': 3,
    'Friday': 4,
    'Saturday': 5,
    'Sunday': 6
}

df['Day_of_week'] = df['Day_of_week'].map(day_to_number)

df['Day_of_week'].unique()

array([0, 1, 2, 3, 4, 5, 6])

In [33]:
df['WeekStatus'].unique()

array(['Weekday', 'Weekend'], dtype=object)

In [49]:
df.head()

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,Weekday,0,Light_Load
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,Weekday,0,Light_Load
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,Weekday,0,Light_Load
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,Weekday,0,Light_Load
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,Weekday,0,Light_Load

In [51]:
df['Load_Type'].unique()

array(['Light_Load', 'Medium_Load', 'Maximum_Load'], dtype=object)

In [52]:
status_to_number = {
    'Light_Load': 0,
    'Medium_Load': 1,
    'Maximum_Load': 2
}

df['Load_Type'] = df['Load_Type'].map(status_to_number)

In [53]:
df.head()

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,Weekday,0,0
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,Weekday,0,0
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,Weekday,0,0
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,Weekday,0,0
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,Weekday,0,0

In [55]:
df['Load_Type'].unique()

array([0, 1, 2])

In [56]:
weekstatus_to_number = {
    'Weekday': 1,
    'Weekend': 0
}


df['WeekStatus'] = df['WeekStatus'].map(weekstatus_to_number)

In [59]:
df

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.00,0.0,73.21,100.00,900,1,0,0
1,01/01/2018 00:30,4.00,4.46,0.00,0.0,66.77,100.00,1800,1,0,0
2,01/01/2018 00:45,3.24,3.28,0.00,0.0,70.28,100.00,2700,1,0,0
3,01/01/2018 01:00,3.31,3.56,0.00,0.0,68.09,100.00,3600,1,0,0
4,01/01/2018 01:15,3.82,4.50,0.00,0.0,64.72,100.00,4500,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
35035,31/12/2018 23:00,3.85,4.86,0.00,0.0,62.10,100.00,82800,1,0,0
35036,31/12/2018 23:15,3.74,3.74,0.00,0.0,70.71,100.00,83700,1,0,0
35037,31/12/2018 23:30,3.78,3.17,0.07,0.0,76.62,99.98,84600,1,0,0
35038,31/12/2018 23:45,3.78,3.06,0.11,0.0,77.72,99.96,85500,1,0,0
35039,31/12/2018 00:00,3.67,3.02,0.07,0.0,77.22,99.98,0,1,0,0

In [60]:
df['date'].unique()

array(['01/01/2018 00:15', '01/01/2018 00:30', '01/01/2018 00:45', ...,
       '31/12/2018 23:30', '31/12/2018 23:45', '31/12/2018 00:00'],
      dtype=object)

In [65]:
df.head(4)

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,1,0,0
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,1,0,0
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,1,0,0
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,1,0,0

In [82]:
df

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourlyـaverage
0,01/01/2018 00:15,3.17,2.95,0.00,0.0,73.21,100.00,900,1,0,0,1.104883
1,01/01/2018 00:30,4.00,4.46,0.00,0.0,66.77,100.00,1800,1,0,0,1.104883
2,01/01/2018 00:45,3.24,3.28,0.00,0.0,70.28,100.00,2700,1,0,0,1.104883
3,01/01/2018 01:00,3.31,3.56,0.00,0.0,68.09,100.00,3600,1,0,0,1.104883
4,01/01/2018 01:15,3.82,4.50,0.00,0.0,64.72,100.00,4500,1,0,0,1.104883
...,...,...,...,...,...,...,...,...,...,...,...,...
35035,31/12/2018 23:00,3.85,4.86,0.00,0.0,62.10,100.00,82800,1,0,0,1.104883
35036,31/12/2018 23:15,3.74,3.74,0.00,0.0,70.71,100.00,83700,1,0,0,1.104883
35037,31/12/2018 23:30,3.78,3.17,0.07,0.0,76.62,99.98,84600,1,0,0,1.104883
35038,31/12/2018 23:45,3.78,3.06,0.11,0.0,77.72,99.96,85500,1,0,0,1.104883
35039,31/12/2018 00:00,3.67,3.02,0.07,0.0,77.22,99.98,0,1,0,0,1.104883

In [121]:
total = 0
averages = []
numbers = df['Usage_kWh'].values

for i in range(0, 35040, 4):
    group = numbers[i:i+4]
    
    average = sum(group) / len(group)
    
    averages.append(average)


print(numbers)
print(averages[:10])
len(averages)

[3.17 4.   3.24 ... 3.78 3.78 3.67]
[3.43, 3.5749999999999997, 3.44, 3.6175, 3.4725, 3.545, 3.4475000000000002, 3.41, 3.6100000000000003, 3.7975000000000003]

8760

In [91]:
df.drop(['hourlyـaverage'], axis='columns')

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type
0,01/01/2018 00:15,3.17,2.95,0.00,0.0,73.21,100.00,900,1,0,0
1,01/01/2018 00:30,4.00,4.46,0.00,0.0,66.77,100.00,1800,1,0,0
2,01/01/2018 00:45,3.24,3.28,0.00,0.0,70.28,100.00,2700,1,0,0
3,01/01/2018 01:00,3.31,3.56,0.00,0.0,68.09,100.00,3600,1,0,0
4,01/01/2018 01:15,3.82,4.50,0.00,0.0,64.72,100.00,4500,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...
35035,31/12/2018 23:00,3.85,4.86,0.00,0.0,62.10,100.00,82800,1,0,0
35036,31/12/2018 23:15,3.74,3.74,0.00,0.0,70.71,100.00,83700,1,0,0
35037,31/12/2018 23:30,3.78,3.17,0.07,0.0,76.62,99.98,84600,1,0,0
35038,31/12/2018 23:45,3.78,3.06,0.11,0.0,77.72,99.96,85500,1,0,0
35039,31/12/2018 00:00,3.67,3.02,0.07,0.0,77.22,99.98,0,1,0,0

In [122]:
df['hourly_average'] = 0

In [123]:
df.head()

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourlyـaverage,hourly_average,daily_average
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,1,0,0,1.104883,0,0
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,1,0,0,1.104883,0,0
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,1,0,0,1.104883,0,0
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,1,0,0,1.104883,0,0
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,1,0,0,1.104883,0,0

In [101]:
df['hourly_average'].iloc[3] = averages[0]

/tmp/ipykernel_15459/627285199.py:1: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['hourly_average'].iloc[3] = averages[0]

In [124]:
iloc_num = -1

for i in range(8760):
    iloc_num = iloc_num + 4
    df['hourly_average'].iloc[iloc_num] = averages[i]


df.head(20)

/tmp/ipykernel_15459/261661467.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['hourly_average'].iloc[iloc_num] = averages[i]
/tmp/ipykernel_15459/261661467.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hourly_average'].iloc[iloc_num] = averages[i]
/tmp/ipykernel_15459/261661467.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '3.43' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  df['hourly_average'].iloc[iloc_num] = averages[i]
/tmp/ipykernel_15459/261661467.py:5: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  df['hourly_average'].iloc[iloc_num] = averages[i]

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourlyـaverage,hourly_average,daily_average
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,1,0,0,1.104883,0.0000,0
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,1,0,0,1.104883,0.0000,0
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,1,0,0,1.104883,0.0000,0
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,1,0,0,1.104883,3.4300,0
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,1,0,0,1.104883,0.0000,0
5,01/01/2018 01:30,3.28,3.56,0.0,0.0,67.76,100.0,5400,1,0,0,1.104883,0.0000,0
6,01/01/2018 01:45,3.60,4.14,0.0,0.0,65.62,100.0,6300,1,0,0,1.104883,0.0000,0
7,01/01/2018 02:00,3.60,4.28,0.0,0.0,64.37,100.0,7200,1,0,0,1.104883,3.5750,0
8,01/01/2018 02:15,3.28,3.64,0.0,0.0,66.94,100.0,8100,1,0,0,1.104883,0.0000,0
9,01/01/2018 02:30,3.78,4.72,0.0,0.0,62.51,100.0,9000,1,0,0,1.104883,0.0000,0
10,01/01/2018 02:45,3.46,4.03,0.0,0.0,65.14,100.0,9900,1,0,0,1.104883,0.0000,0
11,01/01/2018 03:00,3.24,3.64,0.0,0.0,66.49,100.0,10800,1,0,0,1.104883,3.4400,0
12,01/01/2018 03:15,3.96,4.97,0.0,0.0,62.32,100.0,11700,1,0,0,1.104883,0.0000,0
13,01/01/2018 03:30,3.31,3.74,0.0,0.0,66.27,100.0,12600,1,0,0,1.104883,0.0000,0
14,01/01/2018 03:45,3.31,3.85,0.0,0.0,65.19,100.0,13500,1,0,0,1.104883,0.0000,0
15,01/01/2018 04:00,3.89,5.00,0.0,0.0,61.40,100.0,14400,1,0,0,1.104883,3.6175,0
16,01/01/2018 04:15,3.28,3.82,0.0,0.0,65.14,100.0,15300,1,0,0,1.104883,0.0000,0
17,01/01/2018 04:30,3.56,4.28,0.0,0.0,63.95,100.0,16200,1,0,0,1.104883,0.0000,0
18,01/01/2018 04:45,3.74,4.54,0.0,0.0,63.58,100.0,17100,1,0,0,1.104883,0.0000,0
19,01/01/2018 05:00,3.31,3.60,0.0,0.0,67.68,100.0,18000,1,0,0,1.104883,3.4725,0

In [111]:
df.drop(['hourlyـaverage'], axis='columns')

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourly_average
0,01/01/2018 00:15,3.17,2.95,0.00,0.0,73.21,100.00,900,1,0,0,0.0
1,01/01/2018 00:30,4.00,4.46,0.00,0.0,66.77,100.00,1800,1,0,0,0.0
2,01/01/2018 00:45,3.24,3.28,0.00,0.0,70.28,100.00,2700,1,0,0,0.0
3,01/01/2018 01:00,3.31,3.56,0.00,0.0,68.09,100.00,3600,1,0,0,1.5
4,01/01/2018 01:15,3.82,4.50,0.00,0.0,64.72,100.00,4500,1,0,0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
35035,31/12/2018 23:00,3.85,4.86,0.00,0.0,62.10,100.00,82800,1,0,0,35033.5
35036,31/12/2018 23:15,3.74,3.74,0.00,0.0,70.71,100.00,83700,1,0,0,0.0
35037,31/12/2018 23:30,3.78,3.17,0.07,0.0,76.62,99.98,84600,1,0,0,0.0
35038,31/12/2018 23:45,3.78,3.06,0.11,0.0,77.72,99.96,85500,1,0,0,0.0
35039,31/12/2018 00:00,3.67,3.02,0.07,0.0,77.22,99.98,0,1,0,0,35037.5

In [125]:
df['daily_average'] = 0

In [126]:
df.head()

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourlyـaverage,hourly_average,daily_average
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,1,0,0,1.104883,0.00,0
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,1,0,0,1.104883,0.00,0
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,1,0,0,1.104883,0.00,0
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,1,0,0,1.104883,3.43,0
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,1,0,0,1.104883,0.00,0

In [140]:
total = 0
daily_averages = []
numbers = df['Usage_kWh'].values

for i in range(0, 35040, 96):
    group = numbers[i:i+96]
    
    average = sum(group) / len(group)
    
    daily_averages.append(average)

print(numbers)
print(daily_averages[:10])
len(daily_averages)

[3.17 4.   3.24 ... 3.78 3.78 3.67]
[3.6652083333333323, 41.150312500000005, 37.09427083333334, 51.85125, 48.78541666666667, 3.885, 3.6345833333333335, 55.40114583333334, 57.17052083333335, 46.30406249999998]

365

In [118]:
df['Usage_kWh'].values

array([3.17, 4.  , 3.24, ..., 3.78, 3.78, 3.67])

In [157]:
iloc_num = -1

for i in range(365):
    iloc_num = iloc_num + 96
    print(iloc_num)
    df['daily_average'].iloc[iloc_num] = daily_averages[i]


df.head(100)

95
191
287
383
479
575
671
767
863
959
1055
1151
1247
1343
1439
1535
1631
1727
1823
1919
2015
2111
2207
2303
2399
2495
2591
2687
2783
2879
2975
3071
3167
3263
3359
3455
3551
3647
3743
3839
3935
4031
4127
4223
4319
4415
4511
4607
4703
4799
4895
4991
5087
5183
5279
5375
5471
5567
5663
5759
5855
5951
6047
6143
6239
6335
6431
6527
6623
6719
6815
6911
7007
7103
7199
7295
7391
7487
7583
7679
7775
7871
7967
8063
8159
8255
8351
8447
8543
8639
8735
8831
8927
9023
9119
9215
9311
9407
9503
9599
9695
9791
9887
9983
10079
10175
10271
10367
10463
10559
10655
10751
10847
10943
11039
11135
11231
11327
11423
11519
11615
11711
11807
11903
11999
12095
12191
12287
12383
12479
12575
12671
12767
12863
12959
13055
13151
13247
13343
13439
13535
13631
13727
13823
13919
14015
14111
14207
14303
14399
14495
14591
14687
14783
14879
14975
15071
15167
15263
15359
15455
15551
15647
15743
15839
15935
16031
16127
16223
16319
16415
16511
16607
16703
16799
16895
16991
17087
17183
17279
17375
17471
17567
17663
17759
17855
17951
18047
18143
18239
18335
18431
18527
18623
18719
18815
18911
19007
19103
19199
19295
19391
19487
19583
19679
19775
19871
19967
20063
20159
20255
20351
20447
20543
20639
20735
20831
20927
21023
21119
21215
21311
21407
21503
21599
21695
21791
21887
21983
22079
22175
22271
22367
22463
22559
22655
22751
22847
22943
23039
23135
23231
23327
23423
23519
23615
23711
23807
23903
23999
24095
24191
24287
24383
24479
24575
24671
24767
24863
24959
25055
25151
25247
25343
25439
25535
25631
25727
25823
25919
26015
26111
26207
26303
26399
26495
26591
26687
26783
26879
26975
27071
27167
27263
27359
27455
27551
27647
27743
27839
27935
28031
28127
28223
28319
28415
28511
28607
28703
28799
28895
28991
29087
29183
29279
29375
29471
29567
29663
29759
29855
29951
30047
30143
30239
30335
30431
30527
30623
30719
30815
30911
31007
31103
31199
31295
31391
31487
31583
31679
31775
31871
31967
32063
32159
32255
32351
32447
32543
32639
32735
32831
32927
33023
33119
33215
33311
33407
33503
33599
33695
33791
33887
33983
34079
34175
34271
34367
34463
34559
34655
34751
34847
34943
35039

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourlyـaverage,hourly_average,daily_average,monthly_average
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,1,0,0,1.104883,0.000,0.000000,0.0
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,1,0,0,1.104883,0.000,0.000000,0.0
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,1,0,0,1.104883,0.000,0.000000,0.0
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,1,0,0,1.104883,3.430,0.000000,0.0
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,1,0,0,1.104883,0.000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
95,01/01/2018 00:00,3.42,3.46,0.0,0.0,70.30,100.0,0,1,0,0,1.104883,3.465,3.665208,0.0
96,02/01/2018 00:15,3.20,3.10,0.0,0.0,71.82,100.0,900,1,1,0,1.104883,0.000,0.000000,0.0
97,02/01/2018 00:30,3.85,4.61,0.0,0.0,64.10,100.0,1800,1,1,0,1.104883,0.000,0.000000,0.0
98,02/01/2018 00:45,3.28,3.67,0.0,0.0,66.64,100.0,2700,1,1,0,1.104883,0.000,0.000000,0.0
99,02/01/2018 01:00,3.35,3.60,0.0,0.0,68.12,100.0,3600,1,1,0,1.104883,3.420,0.000000,0.0

In [133]:
df['monthly_average'] = 0

In [134]:
df.head()

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourlyـaverage,hourly_average,daily_average,monthly_average
0,01/01/2018 00:15,3.17,2.95,0.0,0.0,73.21,100.0,900,1,0,0,1.104883,0.00,0.0,0
1,01/01/2018 00:30,4.00,4.46,0.0,0.0,66.77,100.0,1800,1,0,0,1.104883,0.00,0.0,0
2,01/01/2018 00:45,3.24,3.28,0.0,0.0,70.28,100.0,2700,1,0,0,1.104883,0.00,0.0,0
3,01/01/2018 01:00,3.31,3.56,0.0,0.0,68.09,100.0,3600,1,0,0,1.104883,3.43,0.0,0
4,01/01/2018 01:15,3.82,4.50,0.0,0.0,64.72,100.0,4500,1,0,0,1.104883,0.00,0.0,0

In [149]:
total = 0
monthly_averages = []
numbers = df['Usage_kWh'].values

for i in range(0, 35040, 2880):
    group = numbers[i:i+2880]
    
    average = sum(group) / len(group)
    
    monthly_averages.append(average)

print(numbers)
print(monthly_averages[:10])
len(monthly_averages)

[3.17 4.   3.24 ... 3.78 3.78 3.67]
[41.70029513888878, 34.4837569444443, 27.276378472222113, 27.350624999999777, 26.497440972222062, 23.15728472222169, 27.067204861110767, 23.003628472221816, 21.303680555554916, 26.89809722222191]

13

In [148]:
df

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourlyـaverage,hourly_average,daily_average,monthly_average
0,01/01/2018 00:15,3.17,2.95,0.00,0.0,73.21,100.00,900,1,0,0,1.104883,0.0000,0.000000,0.0
1,01/01/2018 00:30,4.00,4.46,0.00,0.0,66.77,100.00,1800,1,0,0,1.104883,0.0000,0.000000,0.0
2,01/01/2018 00:45,3.24,3.28,0.00,0.0,70.28,100.00,2700,1,0,0,1.104883,0.0000,0.000000,0.0
3,01/01/2018 01:00,3.31,3.56,0.00,0.0,68.09,100.00,3600,1,0,0,1.104883,3.4300,0.000000,0.0
4,01/01/2018 01:15,3.82,4.50,0.00,0.0,64.72,100.00,4500,1,0,0,1.104883,0.0000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,31/12/2018 23:00,3.85,4.86,0.00,0.0,62.10,100.00,82800,1,0,0,1.104883,3.6450,0.000000,0.0
35036,31/12/2018 23:15,3.74,3.74,0.00,0.0,70.71,100.00,83700,1,0,0,1.104883,0.0000,0.000000,0.0
35037,31/12/2018 23:30,3.78,3.17,0.07,0.0,76.62,99.98,84600,1,0,0,1.104883,0.0000,0.000000,0.0
35038,31/12/2018 23:45,3.78,3.06,0.11,0.0,77.72,99.96,85500,1,0,0,1.104883,0.0000,0.000000,0.0
35039,31/12/2018 00:00,3.67,3.02,0.07,0.0,77.22,99.98,0,1,0,0,1.104883,3.7425,3.532083,0.0

In [150]:
iloc_num = -1

for i in range(12):
    iloc_num = iloc_num + 2880
    print(iloc_num)
    df['monthly_average'].iloc[iloc_num] = monthly_averages[i]

2879
5759
8639
11519
14399
17279
20159
23039
25919
28799
31679
34559

In [153]:
df.drop(['hourlyـaverage'], axis='columns')

,date,Usage_kWh,Lagging_Current_Reactive.Power_kVarh,Leading_Current_Reactive_Power_kVarh,CO2(tCO2),Lagging_Current_Power_Factor,Leading_Current_Power_Factor,NSM,WeekStatus,Day_of_week,Load_Type,hourly_average,daily_average,monthly_average
0,01/01/2018 00:15,3.17,2.95,0.00,0.0,73.21,100.00,900,1,0,0,0.0000,0.000000,0.0
1,01/01/2018 00:30,4.00,4.46,0.00,0.0,66.77,100.00,1800,1,0,0,0.0000,0.000000,0.0
2,01/01/2018 00:45,3.24,3.28,0.00,0.0,70.28,100.00,2700,1,0,0,0.0000,0.000000,0.0
3,01/01/2018 01:00,3.31,3.56,0.00,0.0,68.09,100.00,3600,1,0,0,3.4300,0.000000,0.0
4,01/01/2018 01:15,3.82,4.50,0.00,0.0,64.72,100.00,4500,1,0,0,0.0000,0.000000,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35035,31/12/2018 23:00,3.85,4.86,0.00,0.0,62.10,100.00,82800,1,0,0,3.6450,0.000000,0.0
35036,31/12/2018 23:15,3.74,3.74,0.00,0.0,70.71,100.00,83700,1,0,0,0.0000,0.000000,0.0
35037,31/12/2018 23:30,3.78,3.17,0.07,0.0,76.62,99.98,84600,1,0,0,0.0000,0.000000,0.0
35038,31/12/2018 23:45,3.78,3.06,0.11,0.0,77.72,99.96,85500,1,0,0,0.0000,0.000000,0.0
35039,31/12/2018 00:00,3.67,3.02,0.07,0.0,77.22,99.98,0,1,0,0,3.7425,3.532083,0.0

In [154]:
df['monthly_average'].unique()

array([ 0.        , 41.70029514, 34.48375694, 27.27637847, 27.350625  ,
       26.49744097, 23.15728472, 27.06720486, 23.00362847, 21.30368056,
       26.89809722, 28.98309375, 23.57315278])